<div class="panel panel-default">
    <div class="panel-heading">Order Details</div>
    <div class="panel-body">
      <p>Order ID- {{order.id}}</p>
      <p>Order name- {{order.name}}</p>
      <p>Order Price - {{order.price}}</p>
      <p>Order Ammount- {{order.amount}}</p>
      <p>Order Type - {{order.type}}</p>
      <p>Order Time -{{order.time}}</p>
      <div>
          <label for="sel1"> Order Status:</label>
            <p id='#sel1'>{{order.status}}</p>
            <label for="KID"> Student ID:</label>
            <p id='KID'>{{order.KID}}</p>
        </div>
    </div>
  </div>

